.testimonial_card{
	background-color: var(black);
	padding: 1.25rem 1.5rem;
	border-radius: 1.5rem;
	margin-bottom: 3rem;
}
.testimonial_img{
	width: 100px;
	border-radius: 3rem;
	margin-bottom: 1rem;
}
.testimonial_name{
	font-size: var(--normall-font-size);
	font-weight: var(--font-medium);
	margin-bottom: .25rem;
}
.testimonial_description{
	font-size: var(--small-font-size);
}
/* swiper class */
.swiper-pagination-bullet{
	background-color: var(--text-color-light);
}
.swiper-pagination-bullet-active{
	background-color: var(--first-color);
}